<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chris.escape201game" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Escape201Game"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsScreen"
            android:label="@string/title_activity_settings_screen"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".LevelSelectScreen"
            android:label="@string/level_select_btn"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".LevelandSettingsScreen"
            android:label="@string/title_activity_leveland_settings_screen"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Level1"
            android:label="@string/title_activity_level1"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Level2"
            android:label="@string/title_activity_level2"
            android:parentActivityName=".LevelSelectScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.chris.escape201game.LevelSelectScreen" />
        </activity>
    </application>

</manifest>
